<h1>PRODUCTS</h1>

{{!-- {{> home/form-msgs}} --}}
<div class="box-body" style="overflow-x:auto;">
<table id="example" class="table table-bordered">
<thead>
    <tr>
        <th>ProductName</th>
        <th>Product</th>
        <th>Desc</th>
        <th>Req. Coins</th>
        <th>ActPrice</th>
        <th>DiscPrice</th>
        <th>Date</th>
        <th>Status</th>
          <th>Actions</th>
    </tr>
</thead>

<tbody>

    {{#each products}}
    <tr>
        {{!-- <td><img height="50" class="img-responsive" src="/uploads/{{file}}" alt=""></td> --}}
        
        <td>{{name}}</td>
        <td><img height="50" class="img-responsive" src="{{img}}" alt=""></td>
        <td>{{desc}}</td>
        <td>{{coins}}</td>
        <td>{{act_price}}</td>
        <td>{{disc_price}}</td>
        <td>{{generateTime date 'MMMM Do YYYY'}}</td>
        <td>{{status}}</td>
        
        <td>
            <a href="/admin/products/edit/{{id}}" class="btn btn-info">Edit</a>
            <form action="/admin/products/{{id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">DELETE</button>
            </form>
        </td>
    
    </tr>
    {{/each}}

</tbody>
</table>
</div>